{% extends "base.html" %}

{% block content %}
<h2>Daily Habits</h2>

<div id="deck" class="flex flex-wrap">
    {% for habit in habits %}
        <a class="habit-card w-30 ma3 tc bg-washed-red no-underline" href="{% url 'show_habit' habit_pk=habit.pk %}"><h3>{{ habit }}</h3>
            {% for record in habit.records.all %}
            <p>{{ record.quantity }}</p>
            {% endfor %}

        </a>
    {% endfor %}
</div>

<div>
<a href="{% url 'add_habit' %}">Add a Habit</a>    
</div>

{% endblock %}