{% extends "base.html" %}

{% block content %}
<h2 class="page-title">Daily Habits</h2>

<div id="deck" class="flex flex-wrap">
    {% for habit in habits %}
        <a class="habit-card" href="{% url 'show_habit' habit_pk=habit.pk %}"><h3 class="card-header">{{ habit }}</h3><div class="record-list">
            {% for record in habit.records.all %}
            <p class="record-quantity">{{ record.quantity }}</p>
            {% endfor %}</div>

        </a>
    {% endfor %}
</div>

<div>
<a href="{% url 'add_habit' %}" class="add-habit-button">Add a Habit</a>    
</div>

{% endblock %}