{% extends "base.html" %} {% load static %} {% block scripts %}
<script src="{% static 'js/show_habit.js' %}" defer></script>
{% endblock %} {% block content %}
<h2 class="page-title">{{ habit }}</h2>
<ul id="record-list">
  {% for record in habit.get_last_21_days %}
  <div data-quantity="{{ record.quantity }}">
      <li>
      <a
      href="{% url 'edit_record' habit_pk=habit.pk record_year=record.recorded_on.year record_month=record.recorded_on.month record_day=record.recorded_on.day %}"
      class="record">{{ record.recorded_on }}:</a
      >  {{record.quantity}}
    </li>
    <form
      class="dn show-edit-record"
      action="{% url 'edit_record' habit_pk=habit.pk record_year=record.recorded_on.year record_month=record.recorded_on.month record_day=record.recorded_on.day %}"
      method="POST"
    >
      {% csrf_token %} {{ record_form.as_p }}
      <div><button type="submit" class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-purple button-text">Save Changes</button></div>
    </form>
  </div>
  {% endfor %}
</ul>
<div class="button">
  <p>
    <a href="{% url 'delete_habit' habit_pk=habit.pk %}" class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-red button-text" >Delete Habit</a>
  </p>
</div>

{% endblock %}
