body{
    margin: 1em 10%;
}

.header{
    display: flex;
    padding: 0em 1%;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid 2px red;
}

.page-title{
    padding: 0em 1%;
    font-size: 2vw;
}

.site-title{
    font-size: 3vw;
    margin: 1em 0em 0em;
}

#deck{
    display: flex;
    justify-content: space-between;

}

.habit-card{
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    width: 31%;
    background-color: rgb(218, 245, 245);
    border-radius: 1vw;
    text-decoration: none;
}

.card-header{
    width: 100%;
    padding: 1em;
    margin: 0px;
    font-size: 1.25vw;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}

.record-list{
    padding: 0em 1em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.record-quantity{
    width: 14.28%;
    font-size: 1vw;
    text-align: center;
}

.add-habit-button{
    padding: 0% 1%;
}

.user-logout{

}